:root {
  --white-5: rgba(255, 255, 255, 0.05);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-25: rgba(255, 255, 255, 0.25);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-75: rgba(255, 255, 255, 0.75);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-100: #fff;
  --gray-50: #f5f7fa;
  --gray-100: #eef1f6;
  --gray-200: #e0e5eb;
  --gray-300: #cad0d9;
  --gray-400: #9ca3af;
  --gray-500: #6c727f;
  --gray-600: #4e5562;
  --gray-700: #333d4c;
  --gray-800: #222934;
  --gray-900: #181d25;
  --gray-950: #131920;
  --primary-subtle-background-light: #feeef0;
  --primary-subtle-border-light: #fddce0;
  --primary-subtle-background-dark: #2e222c;
  --primary-subtle-border-dark: #442832;
  --primary-main: #f55266;
  --primary-action: #f2223b;
  --info-subtle-background-light: #eaf0fb;
  --info-subtle-border-light: #d5e2f7;
  --info-subtle-background-dark: #1a2537;
  --info-subtle-border-dark: #1d2d48;
  --info-main: #2f6ed5;
  --info-action: #2358ae;
  --success-subtle-background-light: #ebf7f0;
  --success-subtle-border-light: #d6f0e1;
  --success-subtle-background-dark: #1b2c2c;
  --success-subtle-border-dark: #1d3b33;
  --success-main: #33b36b;
  --success-action: #288b53;
  --warning-subtle-background-light: #fff4ea;
  --warning-subtle-border-light: #fee9d6;
  --warning-subtle-background-dark: #2f2926;
  --warning-subtle-border-dark: #463427;
  --warning-main: #fc9231;
  --warning-action: #f67804;
  --danger-subtle-background-light: #feecec;
  --danger-subtle-border-light: #fcd8d8;
  --danger-subtle-background-dark: #2e2027;
  --danger-subtle-border-dark: #43232a;
  --danger-main: #f03d3d;
  --danger-action: #e81212;
  --dark-10: rgba(36, 48, 66, 0.1);
  --dark-20: rgba(36, 48, 66, 0.2);
  --dark-25: rgba(36, 48, 66, 0.25);
  --dark-100: #243042;
  --dark-action: #171f2b;

  --font-family: 'Inter', sans-serif;
}
