.root {
  width: 15px;
  height: 15px;
  position: relative;
}

.checkbox {
  width: 15px;
  height: 15px;
  margin: 0;
  appearance: none;
  border: 1px solid var(--gray-400);
  border-radius: 3px;
  outline: none;
  transition: border-color 0.3s ease;
  cursor: pointer;
  background: transparent;
}

[data-theme='dark'] .checkbox {
  border-color: var(--gray-500);
}

.checkbox:checked {
  border-color: var(--gray-900);
}

[data-theme='dark'] .checkbox:checked {
  border-color: var(--white-100);
}

.checkbox:not(:checked):disabled {
  border-color: var(--gray-200);
  cursor: auto;
}

[data-theme='dark'] .checkbox:not(:checked):disabled {
  border-color: var(--gray-700);
}

.checkbox:disabled:checked {
  opacity: 0.5;
}

.root:has(.checkbox:checked) .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.root:has(.checkbox:disabled:checked) .icon {
  opacity: 0.5;
}

.icon {
  display: none;
  pointer-events: none;
}

.icon svg {
  width: 11px;
  height: 11px;
}

.icon svg path {
  fill: var(--gray-900);
}

[data-theme='dark'] .icon svg path {
  fill: var(--white-100);
}

@media (hover: hover) {
  .checkbox:hover {
    border-color: var(--gray-900);
  }

  [data-theme='dark'] .checkbox:hover {
    border-color: var(--white-100);
  }
}
